name: "CakePHP theme"

resources:
	resources: resources

templates:
	404:
		filename: 404.html
		template: 404.latte
			
	annotationGroup:
		filename: annotation-group-%s.html
		template: annotation-group.latte
	
	class:
		filename: class-%s.html
		template: class.latte
			
	combined:
		filename: resources/combined.js
		template: combined.js.latte

	contant:
		filename: constant-%s.html
		template: constant.latte

	deprecated:
		filename: deprecated.html
		template: deprecated.latte
				
	elementlist:
		filename: elementlist.js
		template: elementlist.js.latte
	
	function:
		filename: function-%s.html
		template: function.latte
	
	namespace:
		filename: namespace-%s.html
		template: namespace.latte

	opensearch:
		filename: opensearch.xml
		template: opensearch.xml.latte
	
	overview:
		filename: index.html
		template: overview.latte

	package:
		filename: package-%s.html
		template: package.latte

	robots:
		filename: robots.txt
		template: robots.txt.latte
		
	source:
		filename: source-%s.html
		template: source.latte

	sitemap:
			filename: sitemap.xml
			template: sitemap.xml.latte

	tree:
		filename: tree.html
		template: tree.latte

options:
	elementDetailsCollapsed: true
	elementsOrder: natural
	versions: [3.0 2.6, 2.5, 2.4, 2.3, 2.2, 2.1, 2.0 1.3, 1.2]
	activeVersion: 3.0

